[2014-09-03 15:43] fishytodd opened #1 "MP - user registration is not working"
get 505 server error when users tries to register as a new user

[2014-09-03 20:58] #1 closed, assigned to nobody

[2014-11-25 17:24] fishytodd opened #2 "ISO 19115-2 Records unable to parse"
Records coming from CENCOOS are unable to parse. Making changes to Geoportal and Java to recognize new metadata format.

[2014-11-25 17:44] cybersea opened #3 "Make 4 Additional Surfrider 2010 Layers available via Oregon Coastal Atlas CSW"
We would like the following 4 layers added to the Oregon Coastal Atlas CSW, so they can then be added to the WCDOP harvest:
- Boating Activities from Non-consumptive Ocean Recreation Study - Last Trip Panel Responses Summarized to Planning Units, Surfrider, 2010
- Human Powered Ocean Activities from Non-consumptive Ocean Recreation Study - Last Trip Panel Responses Summarized to Planning Units, Su

[2014-11-25 18:56] fishytodd opened #4 "Multiple Source Filtering"
Allow users to select multiple sources to filter results. From the Network meeting.

[2014-11-25 18:58] fishytodd opened #5 "Modify Use Case "Uncertaintly Language" on homepage and marine debris page"
Language should be added to provide a bit more information about uncertainty of marine debris database. Possible places include homepage, inform page, and marine debris page.

[2014-11-25 19:00] fishytodd opened #6 "Export data catalogs contents"
Interest in exporting entire catalog in a useful format (CSV?). From Network meeting. Ned Bader IBM suggested.

[2014-12-16 23:16] fishytodd opened #7 "Solr facets incorrectly lump WMS services from ArcServers under 'ESRI REST'"
Link Type detection solution that was provided by Esri is mis-characterizing service links that come from ArcServers. Good with ArcREST, but lumps ArcServer WMS into that facet, so the individual facet numbers are off...

This was originally submitted as 2 topics in one issue, and I'm separating them into separate issues so they can be better tracked. Renaming this one to be more specific.

Ecotru

[2014-12-16 23:18] fishytodd opened #8 "Refer to different metadata field (for ISO-2 constraints)"
The paths in the UI may not be referencing the correct location in ISO 19115-2 records. A couple of attempts have been made - will know more after Emilio has a chance to look on 1/7/2015.

Ecotrust/wc-data-registry#122

[2014-12-16 23:20] fishytodd opened #9 "Link "OPEN" option should only be used to display non-duplicate information"
This is related to the fix we implemented in [Ecotrust/wc-data-registry issue #117](https://github.com/Ecotrust/wc-data-registry/issues/117)

We've allowed OPEN to apply to any link in the metadata which is leading to some duplication of links. Technically this is no a bug, but it is not ideal.

Ideally we would like OPEN to apply only after all other types of more specific links have been detecte

[2014-12-16 23:21] fishytodd opened #10 "If number of items in a Solr facet is zero, do not display the facet in the UI"
This is especially relevant when we filter results by source, then by category. For example:

if we select data from NOAA Economics (http://wcga-vm01.sdsc.edu/discover/#?s=NOAA%20Economics:%20National%20Ocean%20Watch), we expect the results to be mostly in the Human categories, and yet, when we look at the Categories being displayed for further filtering, we see all possible categories, even those

[2014-12-16 23:23] fishytodd opened #11 "If number of items in a Solr facet is zero, do not display the facet in the UI"
This is especially relevant when we filter results by source, then by category. For example:

if we select data from NOAA Economics (http://wcga-vm01.sdsc.edu/discover/#?s=NOAA%20Economics:%20National%20Ocean%20Watch), we expect the results to be mostly in the Human categories, and yet, when we look at the Categories being displayed for further filtering, we see all possible categories, even those

[2014-12-17 00:03] #11 closed, assigned to nobody

[2015-01-05 21:01] fishytodd opened #12 "Portal Catagories Hierarchy is confusing"
From User Surveys - Under the "Categories" banner, there are 64 lines of information. The only thing allowing this info to be broken up is the use of indention. If possible, it would be nice to use bold, color, or rectangle fill to break these up. It would make scanning the hierarchy a lot easier on the eye. To support this, it took me ~15 seconds to find the category "Oceans", when it should real

[2015-01-05 22:01] fishytodd commented on #12
From User Surveys - The category browsing is a little buggy. For example, when searching for wave energy, I'm presented with a category "Ecosystems And Functions", and a subcategory under that called "Species and Habitat Biodiversity". When I click the subcategory, both the category and subcategory are checked (this is fine). However, when I uncheck the category, I'd expect the subcategory to beco

[2015-01-05 22:05] fishytodd commented on #9
From User Surveys - I feel like the word 'DOWNLOAD' would be more accurate, though the ZIP link is pointing to the same file...

[2015-01-05 22:06] fishytodd opened #13 "Info Button modifications"
From User Survey - The i (information hover icon) indicates that the link should be pointing to an informational webpage; perhaps the link should be disabled for records that don't have a page to point to... Also, the zip file contains a shapefile, which I feel is what many (most?) people would be looking for in the first place. Perhaps that should be mentioned in the info hover icon, though I sup

[2015-01-05 22:08] fishytodd opened #14 "Portal Categories numbers unclear, misleading"
From User Surveys - Actually, I got confused. Before I clicked on Oceans it said there were 196 Ocean records and 2 Bathymetry records. I clicked on Oceans and got 196 results but Bathymetry changed from 2 to 1. So, I clicked on it expecting to see 1 dataset. Instead I got 44 datasets. I clearly don't understand how the numbers are being generated. There might not be a problem, but it makes me won

[2015-01-05 22:12] fishytodd opened #15 "Geographic Location Filter improvements"
From User Survey - Would be nice to be able to draw a box around an area of interest. I could only click on a point. It seemed to remove all the ESI layers when I did.

[2015-01-05 22:14] fishytodd commented on #14
We have Internet Explorer 8, and I found it awkward that check marks did not show up when I selected a category, and that removing the filter was a little box with no description. Maybe that is due to our old version of IE. When I changed to Chrome it was better, but I would prefer something like Group Layers in ArcMap so you can always see your options regardless of what is selected at the time.

[2015-01-05 22:18] fishytodd opened #16 "Duplicate records for Hydrokinetic Wave Energy Projects"
From User Surveys - There are 2 "Marine Hydrokinetic Projects for US Waters as of June 2014" datasets, one from data.gov, the other from MarineCadastre.gov. If the datasets are different, differentiate the layer names.

[2015-01-05 22:21] fishytodd commented on #15
From User Survey - Some users may want to select a box or other type of polygon in the Location tab, rather than just a point.

[2015-01-05 22:23] fishytodd opened #17 "Resources per results page"
From User Surveys - Recommend that the default results view be greater than 5 per page, and add the results page selector and "show per page" option at the bottom of the page too.

[2015-01-05 22:24] fishytodd opened #18 "WMS links confusing"
I had some trouble with the WMS links I tried.  For example clicking on the OR TSP Plan WMS lands here:
http://www.coastalatlas.net/services/wms/getmap/?TSP_PartFive_PlanMap_index_DLCD_2013

[2015-01-05 23:50] tchaddad commented on #18
The link functions for me - sounds like we need to create some documentation for folks that are curious about WMS

[2015-01-05 23:52] tchaddad commented on #3
I will take care of this one and report back

[2015-01-05 23:55] tchaddad commented on #15
Geoportal allows for a box to be drawn, but does not allow for a more complicated polygon. This is an enhancement request for the Point97 UI to add in the box option.

[2015-01-06 00:11] tchaddad commented on #13
This is a Bug that was introduced by adding the OPEN tag indiscriminately.  Original issue is here: Ecotrust/wc-data-registry#123

[2015-01-06 00:13] tchaddad commented on #9
Same issue as https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/13

Moving user suggestion to new issue (as it is not about OPEN)

[2015-01-06 00:15] tchaddad commented on #10
As mentioned in the original issue, the hiding of "zero" facets appears to be working as expected if the user starts filtering by Issue or Category. However the behavior is different if the user begins to filter by first choosing a Source. If the user starts with Source, the zero facet items are not removed from the UI.

This elevates this issue to bug status.

[2015-01-06 00:18] tchaddad commented on #12
These are 2 separate issues - the first item above is an enhancement request, while the second item sounds like it could be a bug (requires some testing to confirm). Do  you want to split them up Todd, or should I?

[2015-01-06 00:20] tchaddad commented on #16
On the flip side, if the data sets are the same, then we want to only harvest it from the most direct, authoritative source. This is an easy (harvesting) fix.

[2015-01-06 00:25] tchaddad commented on #7
Fixed this title so that it reflects the original bug.

[2015-01-06 00:28] tchaddad commented on #17
This is a straight up UI enhancement request. Default can be easily changed already, and the the 'show per page' is a good suggestion.

[2015-01-06 00:34] tchaddad commented on #6
This hinges on the definition of "useful" - I think the results of any selection are already available as JSON, but maybe a more prominent link to a dump would be an easy way to satisfy this.

[2015-01-06 00:36] tchaddad commented on #5
Can we get more detail here? I don't know enough about what this is referring to to make any informed comments.

[2015-01-06 00:39] tchaddad commented on #2
I think this was the issue where the records were blocked after harvest. This issue has been resolved.

[2015-01-06 00:39] #2 closed, assigned to nobody

[2015-01-06 22:03] fishytodd opened #19 "Categories check box bug"
From User Surveys - The category browsing is a little buggy. For example, when searching for wave energy, I'm presented with a category "Ecosystems And Functions", and a subcategory under that called "Species and Habitat Biodiversity". When I click the subcategory, both the category and subcategory are checked (this is fine). However, when I uncheck the category, I'd expect the subcategory to beco

[2015-01-06 22:04] fishytodd commented on #12
Category check box bug moved to ticket https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/19

[2015-01-06 22:05] fishytodd commented on #5
Homepage text should read "View marine debris composition and distribution"

[2015-01-07 18:10] tchaddad opened #20 "Suggest different label for ZIP"
From User Survey - DOWNLOAD may be more intuitive than ZIP

[2015-01-07 18:24] tchaddad commented on #8
Closing this issue. All hail @emiliom !

[2015-01-07 18:45] tchaddad opened #21 "ISO-2 records not detecting ESRI REST links"
From OSU Active Tectonics Lab, need to confirm this bug and add example records here so that we can test and resolve.

[2015-01-07 19:16] tchaddad opened #22 "NOAA records display facets"
This is a UI simplification suggestion and question:

It feels like we should group NOAA data sources with labels that reflect the part of NOAA that the data is coming from, rather than the data set or project name.

Can we revisit the NOAA facet labels to see if simplification is possible? Would love to avoid line wrapping if possible.

[2015-01-07 19:35] fishytodd commented on #22
I wasn't aware of this issue, do you know if there is a specific example I can take a look at?

[2015-01-07 20:24] tchaddad commented on #22
It's not a bug, just a suggestion for label simplification

NOAA CCAP is an example of line wrapping (one of several), and it is an extremely specific product name rather than a program or office of NOAA.

I was just wondering if there was a simpler higher level label that we could use to be more accurate. For example are the records coming from digital coast? Isn't digital coast an initiative of

[2015-01-08 16:48] emiliom opened #23 "WMS link type not recognized in iso-2 records"
Now that iso-2 records are coming through as intended, I'm taking a closer look.

Currently I think the only iso-2 records having WMS services are the [4 ones from NANOOS (ie, all except "ROMS modeled...")](http://wcga-vm01.sdsc.edu/discover/#?s=NANOOS). The CeNCOOS records don't have WMS yet. Anyway, WCODP does not provide a WMS link type for these records. For these records, the json metadata (j

[2015-01-08 17:16] tchaddad commented on #23
Interesting observation about the raw Geoportal client. I'll have to dig deeper to see why it is working there. I suspect it may be because that client is not using the JSON output - it seems likely it may be a purely XLST generated page.

Ideas on where to look for differences between NANOOS and CeNCOOS records:
- sort order of the URLs presented in the metadata (wild guess, I'm curious about thi

[2015-01-08 17:22] tchaddad commented on #23
One last thought on link detection:

The config files above may only be handling single matches, i.e:

we may want to look and see if adding multiple match logic would catch the urls that are slipping through the cracks, e.g.:

[2015-01-08 17:33] tchaddad commented on #22
While we're at it, we could shorted other sources to minimize wrapping, e.g.:
- BOEM - Pacific Region

In general menus are exactly the kind of places where acronyms are appropriate. We can spell out source names elsewhere (like on the http://wcga-vm01.sdsc.edu/contributors/ page)

[2015-01-08 17:37] tchaddad commented on #23
Just one more note - this issue may also be related to https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/21

I will try to get example record URLs from Chris Romsos to confirm.

[2015-01-08 19:39] emiliom commented on #23
Thanks for the R&D, @tchaddad. Very helpful.

It does smell like a JSON feed problem. _Exhibit A_, [quoting from you in issue 117](https://github.com/Ecotrust/wc-data-registry/issues/117#issuecomment-52667583)

The WMS GetCapabilities URL in my sample iso-2 records is indeed coming through in the JSON feed as a "CustomLink" type.

It's intriguing that the raw GeoPortal client shows the link types

[2015-01-08 20:54] tchaddad commented on #23
OK no problem - I misread you original comment, as you switched between talking about NANOOS and CeNCOOS records, and then back. Everything else I mentioned is still relevant I think.

[2015-01-08 22:46] fishytodd commented on #22
Yes we can do this for certain contributors. I think we might have trouble regrouping the long noaa records as they are coming from specific WAFs. I will make some changes and report back.

[2015-01-08 23:07] tchaddad commented on #22
Yeah - I understand about the different WAFs. It would be great to standardize labels where we are able, for example a pattern like:

NOAA - Program Office Acronym - Project Acronym

or something like that, so that sources cluster together in the list, even if projects are separated into different WAFs.

[2015-01-08 23:08] fishytodd opened #24 "Portal Contributors list alphabetized and numbers corrected"
Moved nanoos and corrected numbers for several of contributor on Explore.html.

Needs to be pushed to production.

[2015-01-08 23:11] fishytodd opened #25 "Copy edits to Inform>Marine Debris page"
copy edits made to the titles of the "debris Stories" to shorten.

http://wcga-vm01.sdsc.edu/inform/marine-debris/

need to pushed to production

[2015-01-08 23:12] fishytodd opened #26 "Copy edits made to Connect page"
Changed links to networking forum

http://wcga-vm01.sdsc.edu/connect/

Needs to be pushed to production

[2015-01-09 00:02] emiliom opened #27 "iso-2 Contact name and Contact email issues"
I've checked the exposed attributes for iso-2 records (at least NANOOS ones). All are ok, except for a couple of issues under "Contact". I went through the XPaths in Metadata.js:
- XPath for _contactName_ should end with "gco\:CharacterString" (and a corresponding "CharacterString" for the substring w/o namespaces). The outcome on the portal client looks fine, though, so this is probably handled c

[2015-01-09 00:10] tchaddad commented on #20
Problem with this one is we have multiple other download types: KML and CSV to name a couple. Perhaps we just leave this as is...

[2015-01-09 16:49] emiliom commented on #24
@fishytodd, I don't see these changes on the staging WCODP, online. Maybe Jekyll didn't kick in?

Since these changes stem from my email comments (I think), I'll paste them here, for full reference. Please note also the changes to URL's for NANOOS and West Coast IOOS, since you didn't mention them in the issue description.

Thanks!

[2015-01-09 16:58] fishytodd commented on #24
Changes were made but I hadn't restarted jekyll. Made suggested URL
changes. Should be ready to push to production.

On Fri, Jan 9, 2015 at 8:49 AM, Emilio Mayorga notifications@github.com
wrote:

##

Todd R. Hallenbeck | Program Coordinator

West Coast Ocean Data Portal
West Coast Governors Alliance
Cell: (408) 482-6807
todd.r.hallenbeck@westcoastoceans.org
http://portal.westcoastoceans.org

[2015-01-09 17:05] emiliom commented on #24
Now I see the changes. Thanks.

[2015-01-09 20:20] tchaddad opened #28 "Visualize link in main navigation should launch in new window"
This issue is on the ODP side, and is described here:
https://github.com/WCGA/Marine-Planner/issues/26

[2015-01-09 20:48] fishytodd opened #29 "link types Solr facet implemented in UI"
Enhancement to implement WAR package from ESRI in UI to display link type facets. Related to https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/7

[2015-01-09 21:23] tchaddad commented on #4
Single report at Network meeting

[2015-01-09 21:25] jennywalsh commented on #4
Needs a bit more clarification around desired behavior for 'and' and 'or' filtering.  For categories now, multiple sources are 'and' within the facet.  For sources, should that be 'or' within the facet?

[2015-01-09 21:27] tchaddad commented on #7
This is most important if we expose Service type in the UI

[2015-01-09 21:27] emiliom commented on #4
I was typing the AND vs OR distinction, and @jennywalsh's addition just popped in making the same point! Thanks! And yes, current behavior is AND, and the desire here seems to be to change it to OR.

[2015-01-09 21:50] emiliom commented on #16
I fully agree with Tanya.

Also, this issue strikes me as being different from other WCODP issues. Unless @fishytodd is suggesting that the system could be modified to automatically detect duplicates (something that can be quite hard) and rename them, this issue is about the management of metadata records; not about actual portal functionality and capabilities. Maybe we need a label for "dataset"

[2015-01-09 22:30] tchaddad commented on #10
To duplicate the problem behavior follow these steps:
- start a new Discover session : http://portal.westcoastoceans.org/discover/
- begin to filter by first choosing a SOURCE, e.g.: [USGS](http://portal.westcoastoceans.org/discover/#?s=US%20Geological%20Survey)
- once a source is selected (any source), open CATEGORIES and view list

You will see that the full list of CATEGORIES is presented, with

[2015-01-09 23:40] tchaddad commented on #29
Once this is implemented https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/7 will quickly become a high priority because it causes incorrect numbers for both ESRI REST and WMS.

[2015-01-09 23:45] tchaddad commented on #19
Similar confusion in https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/14

[2015-01-10 01:26] tchaddad commented on #28
We should be able to do this in time for the push next week.

[2015-01-10 03:23] tchaddad commented on #13
Regarding the ZIP file part of this comment - there is nothing we can do to warn users about what is inside a ZIP file, as we don't know ourselves. All we know is that these metadata URLs lead to ZIP files that are associated with the records.

[2015-01-10 03:36] tchaddad commented on #19
I encountered something similar (using Firefox at least):
- new discover session: http://portal.westcoastoceans.org/discover/
- select a category with sub-categories, e.g. [Oceans](http://portal.westcoastoceans.org/discover/#?c=Category.Physical.Oceans) has 196 records
- now select a sub-category e.g. [Circulation](http://portal.westcoastoceans.org/discover/#?c=Category.Physical.Oceans.Circulation

[2015-01-10 03:39] tchaddad commented on #14
More detailed description of the Oceans issue above is now posted here: https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/19

Second comment above may be a different issue (unclear - may also be satisfied by documentation).

[2015-01-20 20:17] fishytodd opened #30 "Bad paths for attributes from Dublin Core records"
From Tanya - This is affecting Dublin Core records harvested from the California Geoportal. Example of a record that demonstrates the problem:

"CALIFORNIA STATE PARKS":
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={EDAB87D3-2C73-472D-9714-BFB5D3574100}

Related to https://github.com/Ecotrust/wc-data-registry/issues/99

[2015-01-20 20:17] fishytodd commented on #30
From Emilio - To be more precise, it looks to me like there's no harvesting of additional metadata attributes from Dublin Core currently going on. Assuming that harvesting is supposed to be configured just like the fgdc and iso harvesting, where the xpaths are defined here: site_raw/_includes/js/services/Metadata.js
You'll note that all the "cd" keys are empty (I assume "cd" stand for "dublin core

[2015-01-20 20:23] fishytodd opened #31 "Metadata resource link "Indexables" logic improvement"
From Allison - In doing so, I discovered that there are two possible locations for online linkages to go.   They are both within the MD_Distribution Section. You can either put them in the gmd:transferOptions section (which is at the same level as gmd:distributor section). Or, you can put them in the MD_Distributor Section in the gmd:distributorTransferOptions which is a subsection of gmd:distribu

[2015-01-20 20:26] fishytodd commented on #31
From Tanya - I think this sounds like a good ticket for GitHub. There have been a few places where using “or” in the path logic would be nice.
The fix can be applied in potentially 2 locations I’m fairly certain that the same type of  fix is necessary for these older issues:
-          https://github.com/Ecotrust/wc-data-registry/issues/100 and possibly
-          https://github.com/Ecotrust/wc-da

[2015-01-20 21:16] cybersea commented on #31
This issue may also be more closely related to https://github.com/Ecotrust/wc-data-registry/issues/117.  The detection of online linkages/URLS is not handled in the same location in the JavaScript code as all of the other WCODP metadata content is.

This issue was also noted for metadata created by ncISO: https://github.com/geopython/pycsw/issues/238

[2015-01-21 02:42] tchaddad commented on #31
Alison is correct - this is not a javascript UI fix, it is more a fix on the Geoportal XSLT. I'm fairly certain Christine White has examples of the correct syntax if we can't figure it out on our own. I believe we can attempt the edit before sending to P97.

[2015-01-21 18:48] #24 closed, assigned to nobody

[2015-01-21 18:48] #26 closed, assigned to nobody

[2015-01-21 18:48] #25 closed, assigned to nobody

[2015-01-21 18:51] fishytodd commented on #8
refers to files metadata.js

[2015-01-22 16:20] #28 closed, assigned to nobody

[2015-01-22 16:20] #5 closed, assigned to nobody

[2015-01-22 19:34] cybersea opened #32 "Hyperlinks in Abstract/Constraints"
If someone puts a URL in their Abstract or Constraints (for example), they do not show up as actual hyperlinks in the WCDOP.

Is this something that is currently possible,  (i.e., by using HTML markup in the metadata)?  Or is it a capability that is of interest?   This inquiry was from Mara Dias at Surfrider.

See: http://wcga-vm01.sdsc.edu/discover/#?s=Sound%20GIS%20Test&text=surfrider

[2015-01-23 21:41] tchaddad commented on #8
The final edits to Metadata.js were as follows:

for datePublished:

for creator:

for publisher:

for contact name:

for contact email:

for constraints:

[2015-01-23 21:41] #8 closed, assigned to nobody

[2015-01-23 21:49] tchaddad opened #33 "Allow viewing / display of ISO-2 records in Geoportal UI"
Our installation of Geoportal on production is missing 2 key XSLT files allowing the parsing and display of ISO-2 records for access in the UI. This is not related to record harvest, just to display from the Geoportal database.

the missing files need to be placed in the following path on production:

The files themselves can be found here:
- [apiso-2-summary.xslt](https://github.com/Esri/geoporta

[2015-01-23 23:17] emiliom commented on #8
@tchaddad, I'm curious: Is this simply listing what we/I modified on Metadata.js on the dev server early this month, or is it new, additional changes to address other issues? If it's the latter, can you describe the new issues very briefly?

I'm going to mention issue #33 here, just so the linkage that Tanya mentioned over email is also present on the github issues, for reference.

[2015-01-23 23:21] tchaddad commented on #8
This is nothing new Emilio - it's just that Jenny pointed out that the actual solution was not linked to the GitHub issue directly, so I decided to add it before closing the ticket. It is unrelated to issue #33 except to say that if #33 is not pushed to the server, than the UI cannot access the metadata in order to read the XPaths.

So, 2 separate issues, either one blocking viewing of your attrib

[2015-01-23 23:23] emiliom commented on #8
Thanks!

[2015-01-23 23:28] tchaddad commented on #33
This fixes the Geoportal error of

when trying to access an ISO-2 record from the Geoportal database that has already been harvested and successfully validated.

Note that the records in question must also be set as "Approved" in the Geoportal back end for the records to be accessible to outside users.

[2015-01-24 00:06] fishytodd commented on #33
Moved the files to production and re tested the ISO-2 records. They are now properly showing up except for teh few bugs we have noted elsewhere. Thanks TH for pointing out those two missing files.

[2015-01-24 00:06] #33 closed, assigned to nobody

[2015-01-28 16:35] fishytodd opened #34 "Map bookmark links no working"
The map bookmarks we created for the homepage "view debris composition and distribution" as well as on the inform page no longer include active debris layers. Need to make sure the the new bookmarks open up all the appropriate layers, including the contextual layers.

[2015-01-30 21:17] fishytodd commented on #21
example record
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={A3299765-3FE0-4421-8FDD-D2ABE8D1E3C6}

[2015-01-30 21:46] tchaddad commented on #7
To accommodate multiple paths for link detection, we need to use "OR" logic in the XSLT files for Geoportal and Solr.

See this KML example for syntax from the Solr config files (/usr/local/tomcat6/webapps/gc/WEB-INF/classes/gc-config/xmltypes) :

Approach will be similar for the Geoportal XSLT files

[2015-01-30 21:51] tchaddad commented on #7
This will resolve uncounted WMS from OCA.

WMS links from ArcServers are currently being detected correctly, but are also being double counted under ESRI REST (somewhat by design).

At the moment, ESRI rest is detected using the term "Mapserver", which is limited to detecting "Map Services". If we want to detect ESRI feature services we will have to add more logic to detect "Featureserver" or "Ima

[2015-01-30 21:56] tchaddad commented on #21
This bug may be solved by implementing the "OR" logic for the Geoportal XSLT described in #7

[2015-01-30 22:02] tchaddad commented on #23
We will attempt the fix described in #7 and #21 on the Geoportal XSLT side and see if it helps us push further.

[2015-02-06 23:30] emiliom opened #35 "Add Sources names to search keywords text matching targets?"
The "Search Keywords" box is apparently not hooked up to any of the "facet" collection tags (Categories, Issues or Sources). I've been thinking specifically that it'd be helpful to hook it up to Sources. Currently, [if you type "IOOS", only 2 of the 9 records in the "West Coast IOOS" source are selected](http://portal.westcoastoceans.org/discover/#?text=ioos). Ditto for "NANOOS" (2 out of the 5 re

[2015-02-10 21:39] cybersea commented on #31
I have found another ISO 19115-2 metadata creation tool that is putting data distribution links in  gmd:distributorTransferOptions.    The ATRAC web-based tool for creating stand-alone metadata or metadata for data archived at NOAA Data Centers. (https://www.ncdc.noaa.gov/atrac/index.html )  This is one of two metadata creation tools that I would like to recommend for our data partners to use beca

[2015-02-10 22:05] cybersea commented on #31
I just noticed that one of the URLs in gmd:distributorTransferOptions, a KML, has shown up in the WCODP interface.    Mysterious...

See:  http://wcga-vm01.sdsc.edu/discover/#?s=Sound%20GIS%20Test&text=Mooring

[2015-02-11 18:59] cybersea commented on #35
I did some testing awhile ago, and I believe the search is actually using the formal keywords, but it doesn't seem to be using information in the Creator/Publisher/Contact entries.

It would be helpful to have some documentation clearly describing what components the search is using, so that we can guide are data partners when they are creating their metadata.

[2015-02-11 19:13] cybersea opened #36 "Multiple originators not being displayed"
For example:
http://wcga-vm01.sdsc.edu/discover/#?text=PMEP

The FGDC metadata have multiple originators, but only the last one is being displayed on the portal.  See for example:
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={CBF56083-144F-404E-9A58-E149ED4ED3A4}

[2015-02-11 20:14] emiliom commented on #35
Thanks, @cybersea ! I thought I had done some small tests regarding formal keywords (ie, keywords in the iso metadata), but that was over a year ago and my memory is hazy. It's great to learn that formal keywords in metadata records are used, even though they're not exposed directly to users on the WCODP.

Totally agree that it'd be very helpful to have this documented.

[2015-02-11 21:10] tchaddad commented on #35
I'm not an expert, but I believe the Search box is hooked to a Solr index built upon the following fields:
- Title
- Abstract
- Keywords
- and a few other locations we should enumerate (all directly in the metadata XML contents)

In contrast, the browse-able facets in the UI are result of a manual tagging of the metadata records in the Geoportal backed. They are fast, because we also have Solr ind

[2015-02-12 19:09] cybersea opened #37 "Additional Link Display Issues - ISO metadata"
I created 4 different versions of ISO metadata with link URLs to compare the portal behavior.   Three of them are ISO 19115-2 and have the links either in distributorTransferOptions or transferOptions or both.  In all cases, the portal is not displaying all the links.

See: http://wcga-vm01.sdsc.edu/discover/#?s=Sound%20GIS%20Test&text=ISO%2019115

For the one with links only in distributorTransfe

[2015-02-12 19:15] cybersea commented on #35
I'm chewing on your food for thought.....

For a simple addition, perhaps the Creator/Publisher fields could get added to the search.   This is where the organizational association usually gets made, but I have actually tried to search those fields and it does not appear to be currently searching them.

From my understanding, this would not require searching of the browsable Facets (Location/Categ

[2015-02-12 19:19] emiliom commented on #35
Me too. It'll take me a while to digest (sorry for the over-extension of the metaphor ...). @tchaddad, thanks so much for your terrific assessment and comments!

+1 on @cybersea's suggestions, too.

[2015-02-12 20:09] #34 closed, assigned to nobody

[2015-02-12 22:32] #16 closed, assigned to nobody

[2015-02-13 19:16] fishytodd commented on #31
Example of REST links not appearing from Romsos (http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={34984053-4171-4AB8-AC06-94416249BF56}).
srv:connectPoint
gmd:CI_OnlineResource
gmd:linkage
gmd:URL
http://hornet.coas.oregonstate.edu/arcgis/rest/services/2014_BOEM/Primary_Lithologic_Habitat_WA_OR_NCA/MapServer

[2015-02-13 22:24] fishytodd commented on #31
example of record not showing WMS links (http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={8CFD0970-8640-4C0C-9DB7-F6EFD1909FFD})

srv:connectPoint
gmd:CI_OnlineResource
gmd:linkage
gmd:URL
http://pdx.axiomalaska.com/ncWMS/wms?service=WMS&version=1.3.0&request=GetCapabilities
/gmd:URL

[2015-02-13 22:32] fishytodd commented on #31
example of zip showing up as "open" http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={892bd1f1-d26f-4a2c-b132-1e9e445a913c}

gmd:citedResponsibleParty
gmd:CI_ResponsibleParty
<gmd:organisationName gco:nilReason="missing"/>
gmd:contactInfo
gmd:CI_Contact
gmd:onlineResource
gmd:CI_OnlineResource
gmd:linkage
gmd:URL
http://coastalscience.noaa.gov/datasets/ccma/biogeo/cinms/Chap_4_Data/RECFIN_fish

[2015-02-13 22:49] tchaddad commented on #31
This last example (things showing up as "open") is unrelated to the XSLT.

It is a bug we somewhat intentionally introduced back in late-Oct Nov.

[2015-02-13 23:45] tchaddad commented on #23
We've confirmed that this issue is not an XSLT issue (links are being detected just fine). Rather, it is a JSON feed problem as described in  issue 117 from the old repo.

[2015-02-13 23:53] emiliom commented on #23
Thanks for trying, @tchaddad. One question: if this boils down to [issue 117 from the old repo](https://github.com/Ecotrust/wc-data-registry/issues/117#issuecomment-526675830), that means once it can be addressed, the OPeNDAP link-type recognition issue will also be addressed at the same time, right? That'd be very cool.

[2015-02-17 19:59] emiliom commented on #35
Some comments on Tanya's food for thought and Allisons' additional thoughts.

A good first step would be to ask P97 to tell us what those additional metadata fields are (besides Title, Abstract, Keywords) and list them here for reference. I agree with Allison that the Creator/Publisher fields should be indexed, as according to her testing, they don't appear to be.

Tanya, great observations about

[2015-02-23 21:58] fishytodd opened #38 "For OOS records, display temporal extent"
From Jennifer Patterson -
- For the OOS time varying data sets it may be more useful to display (in the catalog results) the temporal extent gmd:EX_TemporalExtent instead of the date published. For example for an example data set our date published is back in 2013 and the temporal range spans from 2013 to today.

[2015-02-25 00:42] fishytodd opened #39 "Update to new geoportal"
upgrade to new geoportal instance

consult with Christine white about the new upgrades to understand if other aspects of portal will break.

should be schedule for late july to incorporate new updates

[2015-02-25 20:16] tchaddad commented on #39
Slight correction - I think any new Geoportal upgrades will be available in later July, meaning this work should be scheduled in August-ish...

[2015-02-26 00:21] tchaddad commented on #9
I just pushed an improvement to the 'OPEN' label that should prevent it from mislabeling things like 'ZIP' or 'KML' as 'OPEN'.

Under the new logic, 'OPEN' will be more applied to items identified as website, rather than service URLs.

So far so good. @emiliom I'd like you to poke around and see if you like the new behavior (compare DEV to PROD to see the difference - the fix is on DEV).

[2015-02-26 00:24] tchaddad commented on #23
In answer to your most recent question, Yes, OPeNDAP, would be addressed at the same time.

[2015-02-26 00:26] tchaddad commented on #23
To come back to the original question about WMS being detected in iso-2 records, I believe the fix we pushed to Dev server today should fix this problem. The catch is that the NANOOS records that it applies to will have to be re-harvested and re-indexed to see the results.

@fishytodd will be letting us know when he reharvests the NANOOS WAF so that we can confirm...

[2015-02-26 00:27] tchaddad commented on #27
I've just assigned this one to myself, so I can take a look at it tomorrow...

[2015-02-26 00:30] tchaddad commented on #21
We will have to test this with some known ISO-2 records that have ESRI-REST service links, but I believe the fix that we just pushed to the Dev server should have taken care of this one.

@fishytodd - can you re-harvest the records from 'OSU Active Tectonics Laboratory' so that we can test if the REST urls are being correctly detected now?

[2015-02-26 00:31] tchaddad commented on #21
Technically 'OSU Active Tectonics Laboratory' os now serviving regular ISO records, but I still think the fix was included in the files we pushed today, so a re-harvest is in order for testing...

[2015-02-26 00:38] tchaddad commented on #37
With any luck, the work we did yesterday and today that was pushed to Dev this afternoon will have resolved all of the above issues.

@fishytodd has reharvested the SoundGIS WAF, and you should be able to go to the Dev server and confirm that everything is working how you expect.

I also resolved the CSV bug we were seeing yesterday, and tightened down how 'OPEN' is being applied. We should have a

[2015-02-26 00:44] tchaddad commented on #31
I think this issue (and the various items mentioned in it) was handled by the fixes pushed to Dev this afternoon.

If @fishytodd and @cybersea agree, then we can close this one

[2015-02-26 00:59] cybersea commented on #31
Thanks Tanya -- great work!   This makes ISO 19115-2 play much better with the Portal.

My only concern is that we lost the HTML links (OPEN) from ISO 19115 and ISO 19115-2 when the URL is located in transferOptions.   This breaks the Surfrider metadata  that was working previously.

/gmd:MD_Metadata/gmd:distributionInfo/gmd:MD_Distribution/gmd:distributor/gmd:MD_Distributor/gmd:distributorTransfe

[2015-02-26 01:28] tchaddad commented on #31
Ah ok - thanks for pointing this out. I was looking for an example where the OPEN tweak would have adverse affects, and now I have one to follow up on....

[2015-02-26 01:30] tchaddad commented on #9
Allison mentions an example where this fix is not working as intended: https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/31#issuecomment-76102528 ... will follow up, using these records to test:

http://wcga-vm01.sdsc.edu/discover/#?s=Sound%20GIS%20Test&text=surfrider

[2015-02-26 06:34] tchaddad commented on #31
Looking at these a second time I believe these ones will be easily solvable:

ISO 19115, transferOptions (Not showing html):
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={98AAE242-DB9E-4B73-B3F5-6C850218B1B0}

ISO 19115-2, transferOptions (not showing html):
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={9E163105-A41A-411F-9953-10D44342AF21}

However, the Surfrider records are a dif

[2015-02-26 19:01] cybersea commented on #31
Perusing the full catalog on the dev portal (with changes) as compared to production (without changes), I'm seeing the following things:

On the dev portal, the use of the OPEN link has completely vanished, except for the Sound GIS Test records, and ones from CENCOOS (Aquarius for example) and OSU (Source = NANOOS).   In all these cases, it is displaying .html URLs in the OPEN link.    These recor

[2015-02-26 19:11] cybersea opened #40 "Two Zip file links pointing to same URL"
Found a few cases where there are two ZIP links showing for a record.   This would be great if they were different zip files, but in this case, they are the same file, but the link is provided in two different places in the metadata.

It's FGDC metadata and the links are located in both onlink and stdorder->digform->digtopt->onlinopt

Examples:
http://portal.westcoastoceans.org/discover/#?text=Por

[2015-02-26 19:20] emiliom commented on #23
Thanks for all your work this week, Tanya!!! Wow. Now to address your questions or report back:
- WMS link types are now being exposed correctly in the 4 NANOOS iso-2 records where this problem was occurring. YAY!
- OPeNDAP: In your whirlwind of activity, I'm now confused about what to expect for OPeNDAP. In your first comment on this issue yesterday you said that OPeNDAP would be addressed at the

[2015-02-26 19:33] tchaddad commented on #23
Yes, apologies for the confusion. The Labeling for OPeNDAP will be handled when we get Point97 to tweak the JSON feed to include the correct label.

The link detection portion for OPeNDAP is actually already working, and you can confirm this by checking records in the UI, and viewing the ESRI JSON link - you will see that the links are being detected and labeled as "CustomLink". That label is not

[2015-02-26 19:35] emiliom commented on #9
Thanks for all your hard work, Tanya!! I'm reporting on the net effect on NANOOS records. First, for reference, we have 5 production records in the NANOOS source, and one new iso-1 record added within the last 24 hours, that's only on staging. 4 of those production records are largely identical and generated by the same process so they will respond the same (ideally!) to all changes. I'll call the

[2015-02-26 19:37] tchaddad commented on #40
Unfortunately this is not really a bug... the code is successfully looking at all the XPaths we tell it to look in, and correctly labeling what it finds.

But we can think on how to make it better...

[2015-02-26 19:43] tchaddad commented on #9
Thanks Emilio - glad that item 1 is working how you expect.

Items 2 and 3 that you mention are the same condition/case reported in my comment directly above (from Allison).

I was thinking about this case/fix on my way home from work yesterday and I think I have a solution. I need to do a little research today, and hope to push a refinement soon.

[2015-02-26 19:49] tchaddad commented on #31
Hmm, I think I expected some of this, but there are several things tangled in here (multiple label types) so I think I need to take a closer look.

My aim here is to get away from using the HTML label, and instead have the OPEN link go to things that are HTML, ASP, root urls, etc. Basically anything that is not a service link. If something is a data or service link, then it gets a custom label, ev

[2015-02-26 20:04] cybersea commented on #40
Understood -- I was looking for a label to indicate this was low priority.  I just wanted to make sure to document the unicorn sighting.

[2015-02-26 20:17] tchaddad commented on #40
We can create a custom "Unicorn" label...

[2015-02-26 20:20] emiliom commented on #23
Thanks for the explanation.

[2015-02-26 20:29] emiliom commented on #31
+1 to Tanya's aim :

[2015-03-06 08:28] emiliom commented on #9
@tchaddad, I was wondering where this stands. I have a [NANOOS record for NVS](http://wcga-vm01.sdsc.edu/discover/#?text=nvs) that I started up but haven't finished (that's my item 3 above), partly b/c I was waiting to see how this issue shook out (ok, that's just a lame excuse to set this aside and work on other things ... sigh). Maybe I should just finish up the record, then ask Todd to push it

[2015-03-19 20:59] fishytodd opened #41 "Need to add ESRI REST link type for ISO-2 records"
Example record

http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={275A7879-7DEA-4D8D-8878-FCE04227835B}

[2015-03-20 01:56] tchaddad commented on #41
Thanks Todd this should have been already covered by one of the scenarios we tested earlier, but I found an extra "." in the indexibles file that was preventing the case from being recognized.

I've placed a new version of apiso-2-indexables.xml in my /home/thaddad directory on dev. If you can copy it over to /usr/local/tomcat6/webapps/geoportal/WEB-INF/classes/gpt/metadata/iso and then reboot Tom

[2015-03-20 01:58] tchaddad commented on #41
The case in this situation was URL at the following path (in case Alison is watching):

gmi:MI_Metadata
gmd:distributionInfo
gmd:MD_Distribution
gmd:distributor
gmd:MD_Distributor
gmd:distributorTransferOptions
gmd:MD_DigitalTransferOptions
gmd:onLine
gmd:CI_OnlineResource
gmd:linkage
gmd:URL

[2015-03-20 02:07] tchaddad commented on #41
I see there is also this apparently duplicate record on Dev:
http://wcga-vm01.sdsc.edu/geoportal/rest/document?id={11FD2B65-AB49-4763-A0AC-CAE269E5BC0F}

I assume that this was an attempt to get the service directly from the server. If so, and if the above fix works, I believe this duplicate record should be removed from the collection.

[2015-03-26 18:16] fishytodd commented on #41
Updated the file on dev, restarted tomcat, but still not seeing the ESRI
link showing up in the UI. It is coming through in geoportal. Is it a js
file edit that needs to happen as well?

http://wcga-vm01.sdsc.edu/discover/#?text=impaired

On Thu, Mar 19, 2015 at 7:07 PM, TC Haddad notifications@github.com wrote:

##

Todd R. Hallenbeck | Program Coordinator

West Coast Ocean Data Portal
West Coast

[2015-03-26 18:47] tchaddad commented on #41
I'll take a look - stay tuned. I'm fairly certain it is not a JS edit, so there may be a second reboot needed...

[2015-03-26 19:36] tchaddad commented on #41
I'd like to ask @cybersea if there are any examples of other contributors showing ESRI REST in any ISO formats at all? The only record I can find in other GitHub issues (https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/21) is from ATSML.

ASTML seem to have switched to mostly FGDC records which are all working fine, but they seem to have 3 ISO records which are not showing their REST ur

[2015-03-26 19:54] cybersea commented on #41
@tchaddad, There are no others that I know of.   Most of the ISO records are either from OR Coastal Atlas which all have OGC service formats or IOOS folks who don't generally have ESRI REST services either.   We could certainly create one for testing if you need it.

[2015-03-26 20:17] tchaddad commented on #41
OK, I think we can declare that this issue was never solved for ASTML in #21, most likely because we had no representative test records (either ISO or ISO-2).  That makes this issue similar to what is being discussed in #23 for WMS and OpenDAP labels.

I'm going to try to apply the partial fix from #23 (for WMS) to the problem in issue #41 (for ESRI REST).

@fishytodd I still don't seem to have up

[2015-03-26 23:45] fishytodd commented on #41
Moved the files, deleted files, reharvested, restarted geoportal...and it
worked!!! Looks like both the CA impaired waters records and the OSU
records now show the ESRI rest links. You can double check for yourself,
but I think we can call this one closed. Thanks Tanya!!!

We just need to replicate this on production. With your go aheead I can do
that, unless we anticipate further edits to those f

[2015-03-27 00:14] tchaddad commented on #41
That's great news. I think this means you can close both #21 and #41 once you have pushed to production. Woohoo!

[2015-04-06 23:38] jennywalsh commented on #19
Actual record numbers have changed since Tanya last commented.  However, the essential wonky-ness remains with the display of search records ignoring the sub-category facet selection by forcing in an "and" that necessarily contains the subcategory:

Use case
- start with a fresh Categories search
  - scroll to bottom and directly select Circulation (2) under Physical Data | Oceans
  - Expected - 2

[2015-04-21 09:15] tchaddad commented on #7
Hopefully this comment will help clarify the situation. Not all of this may be fixable, and/or this issue may have to be further split:
- The solution provided originally for link type detection of what we are labeling ESRI REST services in the UI is reliant on looking for the keyword "Mapserver" in the URL

This is problematic for at least 2 reasons:
- The keyword "Mapserver" only exists in URLs

[2015-04-21 09:31] tchaddad commented on #7
In terms of action on this issue, I suggest that for now, we:
- not fix the ESRI Mapserver issue (it is misleading, but not really a bug)
- fix the paths problem in the Solr link detection so that Solr is picking up services in all the places that they are being stored.

Will try to provide the additional link path locations that need to be incorporated in the Solr config. They are documented in t

[2015-04-21 17:09] fishytodd commented on #29
When we read #29, we interpret it as just installing the WAR package.  A couple questions then to help with design considerations (and I apologize if some of these seem very basic.  I don't think about this stuff regularly enough to be completely confident):
What specifically are link type facets?
They are a filter for "Data Formats" that are contained within metadata records. I.e.  Solr creates a

[2015-05-27 17:25] tchaddad commented on #27
@twelch by any chance is this issue related to any of the stuff you have been working on?

[2015-05-27 20:56] tchaddad opened #42 "Fix detection of non-service URLs in all metadata types"
More info to follow

[2015-05-27 21:27] fishytodd commented on #38
If this is a thorny problem, I think we can forego changes at this time because most abstracts include temporal extent. Some examples.

http://portal.westcoastoceans.org/geoportal/rest/document?id={24C6FE08-7550-42E9-A8BA-DD0DCF6D0F4D}

http://portal.westcoastoceans.org/geoportal/rest/document?id={E621508F-5D4B-4DA5-86B5-59AF021DFDF8}

[2015-05-27 23:22] cybersea commented on #42
Here are some examples of records where we will lose links with the more constrained "OPEN" logic:

FGDC:
- All of the records coming from BOEM Pacific Region.  They have URLs with .aspx file extensions.   http://portal.westcoastoceans.org/discover/#?s=BOEM%20-%20Pacific%20Region.
- EPA Environmental Dataset Gateway.   http://wcga-vm01.sdsc.edu/discover/#?s=EPA%20Environmental%20Dataset%20Gateway

[2015-06-12 17:31] twelch commented on #27
@tchaddad yes looks like it may be related to #136 and have a similar solution.  I can look into

[2015-06-12 17:32] twelch commented on #27
Err this issue attached to the other repo - https://github.com/Ecotrust/wc-data-registry/issues/136

[2015-06-17 03:41] emiliom commented on #27
Cool! And good to learn that @twelch is "now" looking directly at WCODP innards. I say "now", with awareness that I've been out of the WCODP loop (I think) for the last few months. Hi Tim and Tanya:)

[2015-06-25 23:29] tchaddad commented on #7
I believe we've accomplished the suggested actions from the April 21 comment above. Adding a "closable" tag to track.

[2015-06-25 23:51] tchaddad commented on #23
The topic in the title here is now closable. I'd like to move the OpenDAP portion of the discussion into a new Issue (to elevate it's visibility), so stay tuned for a mention of the new Issue number for the OpeNDAP portion

[2015-06-25 23:59] tchaddad opened #43 "Add OpeNDAP labels to JSON output options."
As mentioned in https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/23 we need to add OpeNDAP labels to the JSON feed generation so that the link detection logic will be visible in the UI.

While we are doing this, we should add as many missing data / service type labels to the JSON output as possible, since this touches the Java side of the GeoPortal files.

[2015-06-26 01:01] tchaddad commented on #31
Looking at this issue, I believe the original topic of "indexable logic" has been fixed (we are now looking for URLs in the correct locations for all metadata types, and all service URL types).

The remaining portion of the problem relates to problems with the "OPEN" label. I suggest we close this original ticket, and move the portion about the "OPEN" problem to a new issue.

[2015-06-26 01:06] cybersea commented on #31
Sounds good to me @tchaddad

[2015-06-26 01:07] tchaddad opened #44 "Label "OPEN" is missing from many records"
Reported by Alison back in February:

the use of the OPEN link has completely vanished, except for the Sound GIS Test records, and ones from CENCOOS (Aquarius for example) and OSU (Source = NANOOS). In all these cases, it is displaying .html URLs in the OPEN link. These records are not using the HTML link. So, probably all the ISO 19115-2 metadata.

The HTML link is used in many other examples --

[2015-06-26 01:09] tchaddad commented on #44
I'm suspecting that the variation on where OPEN is showing up related to the metadata type (seems to be missing from FGDC sources?).

In addition, there is a secondary complication that OPEN is difficult to apply to URLs that do not match our list of  specialized file extensions.

[2015-06-26 01:17] tchaddad commented on #44
A helpful mishmash of records that display one or both of the problems mentioned above is provided in here: https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/42,

and another problem set is mentioned here: https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/31#issuecomment-76102528

[2015-06-26 01:35] tchaddad commented on #37
Looking at these original test records again, I think I've confirmed that testable link types for data/services are correctly being detected and displayed.

The exception is the last example showing loss of links like .html and root URLs that should be displaying the OPEN label.

Given this, _I would like to close this original issue_, and focus the remainder of the problem on the correct detectio

[2015-06-26 01:42] cybersea commented on #37
Sounds good @tchaddad.   For the "record" it would be extremely to have some idea of what changes you applied to make these work.   So, in the future, if others might be able to do similar things.   Maybe a good tidbit for the knowledge base!

[2015-06-26 01:50] tchaddad commented on #36
@twelch is this possibly another one similar to #27 and #38 (multiple places to look for info)?

There is a definite difference in that the place this info is supposed to show up is not on the far right, but rather in the "detail" view when the user expands the record result. But the detection part of the problem might be the same type of problem on the UI side...

[2015-06-26 01:53] tchaddad commented on #30
Elevating the priority for this one in case it can be fixed when we work on the remaining link detection topics.

[2015-06-26 01:58] tchaddad commented on #22
Looks like this one was dealt with sufficiently, so I'm calling it closable. Only remaining comment I have is that we use punctuation consistently from here on out.

So for example we should use "-" or ":" as a separator, not both (see BOEM source and NOAA Economics source for examples).

[2015-06-26 02:01] tchaddad commented on #14
Like #19 I think this issue is now resolved.

[2015-06-26 15:07] #14 closed, assigned to nobody

[2015-06-26 15:28] fishytodd commented on #41
Verified after push to production, closing issue.

[2015-06-26 15:28] #41 closed, assigned to tchaddad

[2015-06-26 15:30] #37 closed, assigned to tchaddad

[2015-06-26 15:32] #31 closed, assigned to tchaddad

[2015-06-26 15:38] #22 closed, assigned to nobody

[2015-06-26 15:38] #29 closed, assigned to nobody

[2015-06-26 15:38] #21 closed, assigned to tchaddad

[2015-06-26 15:39] fishytodd commented on #20
We decided to leave the label as Zip, closing.

[2015-06-26 15:39] #20 closed, assigned to nobody

[2015-06-26 15:39] #19 closed, assigned to nobody

[2015-06-26 15:39] #18 closed, assigned to nobody

[2015-06-26 15:39] #10 closed, assigned to nobody

[2015-06-26 15:47] fishytodd commented on #23
Re-harvested after moving indexables files, works now!

[2015-06-26 15:47] #23 closed, assigned to tchaddad

[2015-07-07 17:58] emiliom commented on #40
@tchaddad, does this mean that the catalog can now list more than one link of the same link type, across the board and not just for zip files? That used to be a need way back, and I didn't realize it had been addressed.

[2015-07-07 18:10] emiliom opened #45 "Need for validator for links extracted from metadata records"
Links to resources (web services, documents, files, etc) pointed to in the harvested metadata documents will go stale. That's what links do :smile:. Heck, it's probably not uncommon that some links found within a metadata document are already broken when the metadata is harvested!

It would be good to have a links validation tool that can periodically provide a listing or  assessment of currently

[2015-07-07 19:16] tchaddad commented on #40
I'm not sure we've specifically tested for this (or explicitly tried to fix for it). It's more a side effect of some groups putting links in more than one place. At least, the reason it works in the instances that I've seen is that the paths themselves are unique.Theoretically this would work for any link type (not just ZIP).

[2015-07-07 19:19] tchaddad commented on #45
Interesting enhancement - I wonder if this would be for administrator use (in the Geoportal backend), or as a side car to the UI somehow.

There are service status tools available, either for hosts to run directly, or for remote monitoring of sources e.g. http://registry.fgdc.gov/statuschecker/

But the above is directed at services, rather than plain old web 404 type errors.

[2015-07-07 19:23] emiliom commented on #40
Ok. Thanks.

[2015-07-07 19:25] emiliom commented on #45
I would say both administrator and _ideally_ a broader group of WCGA contributors/volunteers. Could be also for providers, to help manage their own resources. But I realize that expecting a broad, dispersed group to be on top of this is a social mechanism that's hard to pull off ...

[2015-07-07 19:33] tchaddad commented on #45
A subtle way to handle this might be to go back to the idea of a metadata "detail view" page that could display the content of the XML in human friendly form. It might not be too terribly difficult to build into this view a set of icons that display next to URLs that indicate if the URL is in an up, down or undetermined state (at the time of page viewing).

[2015-07-07 19:55] cybersea opened #46 "Create Github Repo for Geoportal & Server Side configurations/modifications"
This was a key suggestion from our recent discussions about keeping the dev and production portal in sync.

Thought I would add it as a ticket to remind us.

[2015-07-07 20:01] tchaddad commented on #46
Thanks for this - I'll add that as part of this we want to figure out if the repo at Ecotrust is even close to usable as a starting point for this purpose: https://github.com/Ecotrust/geoportal-server

[2015-07-07 20:08] tchaddad commented on #46
Also, somewhat linked to https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/39

[2015-07-07 20:12] cybersea opened #47 "Contributors Page Incorrect URL sources"
http://portal.westcoastoceans.org/contributors/

Some URLS on this page point to the dev portal rather than the production portal.   CENCOOS, for example.  So, the numbers of records are not necessarily be correct

[2015-07-07 20:26] emiliom commented on #45
Sounds like a good prospect, specially in that it addresses that old standing "need" for a more human-digestible view of the raw, complete metadata.

[2015-07-07 20:45] cybersea opened #48 "URL Links showing on Dev portal, but not on Production"
There are some server side changes that need to be done to show some URLS.  This is working on dev, but not on production.

Compare:
http://portal.westcoastoceans.org/discover/#?s=SCCOOS
http://wcga-vm01.sdsc.edu/discover/#?s=SCCOOS

and

http://portal.westcoastoceans.org/discover/#?text=OCNMS
http://wcga-vm01.sdsc.edu/discover/#?text=OCNMS

[2015-07-07 20:47] tchaddad commented on #43
Reference this work by Ryan back in the day: https://github.com/Ecotrust/geoportal-server/commit/f4c61285e96eb38d548c2a7ce6c18eabd80e6f71

[2015-07-07 21:19] tchaddad opened #49 "Only apply "OPEN" after all other link types have been captured"
Likely new logic required on the UI side for this to work.

[2015-07-07 21:21] tchaddad commented on #49
Or, do not display OPEN for an link already captured by a different label...

[2015-07-07 21:42] twelch commented on #15
This is part of the query using the SOLR API.  Would need to look into whether SOLR supports bbox query rather than just point

[2015-07-07 21:44] tchaddad commented on #48
Possible missing XSLT paths on production (for ISO-2 metadata), ATRAC tool metadata output specifically.

[2015-07-07 21:48] tchaddad commented on #47
An incomplete list of Contributors!

[2015-07-07 22:11] twelch commented on #12
I think 1-5 seconds to find something in a list this long is unrealistic but point taken.  There is room for improvement by distinguishing levels better as described.

Icons sound good  but they will potentially clutter a UI that already has checkboxes and it's not always easy to find meaningful icons for every category, even the top-level one.  Something to consider though

[2015-07-07 23:03] tchaddad commented on #7
@fishytodd just wanted to check with you to see if you agree that we can close this one? I assume you had something that was leaving it open?

[2015-07-07 23:05] tchaddad commented on #13
Aside from the suggestion to change the "hover text" on ZIP links to explain that any type of data might be inside the ZIP file, I think this item is closeable @fishytodd. How do you want to proceed?

[2015-07-07 23:08] tchaddad opened #50 "Human Friendly views for Metadata XML"
We have XSLTs to do this - need a way to link them into the existing UI.

[2015-07-07 23:17] tchaddad commented on #49
maybe a duplicate of https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/9

[2015-07-07 23:19] tchaddad commented on #35
Want to bump this one to remind ourselves to track down what search is currently based on, and look into how difficult it would be to add additional locations to that index...

[2015-07-07 23:44] tchaddad commented on #50
Spin-off idea captured in https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/45

[2015-07-25 05:04] twelch commented on #38
Since temporal extent is an uncommon attribute this sounds like a special case situation that needs to be handled in a generic way, so that we can readily incorporate others in the future. Approach would be to add temporal extent as an attribute to look for with every record and display if it is found, otherwise don't display it at all.  We don't want to see 'not available' for records that don't

[2015-07-25 05:19] twelch commented on #36
Approach I'm seeing is to try and pull all origin attributes and aggregate them somehow so they don't take up a ton of room.  What would be appropriate @fishytodd @tchaddad @cybersea?  One idea is to combine into a single string like:

Van C. Hare, National Fish Habitat Partnership, Pacific Marine and Estuarine Fish Habitat Partnership, United States Geological Survey

[2015-07-26 07:56] twelch commented on #27
Turns out it it was matching on the less specific iso selector and was never getting to the isoii selector.  I simply switched them.

Unfortunately the wcodp code is still maintained in the ecotrust repo so you won't get notifications of commits here.  I just made a pull request for this.  https://github.com/Ecotrust/wc-data-registry/pull/143.  Look forward to reviewing @fishytodd

[2015-07-26 17:20] cybersea commented on #36
That sounds like a good approach to me.  You might need a semi-colon (or maybe a pipe?) instead of a comma because often a single originator can have a bunch of commas in it.    See, for example:  http://wcga-vm01.sdsc.edu/discover/#?s=Sound%20GIS%20Test&text=commercial

[2015-07-26 17:31] tchaddad commented on #36
I was thinking something similar about more distinctive separator. But I like the idea overall (and I think originators would too).

[2015-07-26 18:30] emiliom commented on #27
Awesome!

[2015-07-27 21:21] twelch commented on #36
Okay, currently the attribute fetching is naive.  If a selector returns multiple values from the document it simply takes the first.  My plan would be to make this more robust by adding an additional handler that returns a semicolon-separated list and then specify for each attribute which handler to use, list or firstValue.

[2015-07-27 21:54] cybersea commented on #36
That sounds great.  Would it apply to any of the attributes?  Like publisher, distributor, email contact, etc.?

[2015-07-27 21:54] tchaddad commented on #36
That means that this fix will affect other fields with possible multiple values?

[2015-07-27 21:59] tchaddad opened #51 "Problem record from California Geoportal"
Not a bug, just needed to record this while it is still fresh:

http://portal.westcoastoceans.org/discover/#?s=California%20Coastal%20Geoportal&text=Areas%20of%20Special%20Biological%20Significance

"Areas of Special Biological Significance" is a layer from the California Coastal Geoportal. There is obviously something wrong with it, as no attributes are coming through, not even the bounding box.

[2015-07-28 06:27] twelch commented on #36
I would set it up so that you have the control over each.  Initially fgdc/creator would be configured to create a 'list' while the rest continue to use 'first'.  Others could be switched over to list as needed, as long as a selector or selectors can be written that return the desired values.  So some work would be needed for each to get it right.  I need to play with this a bit but I think it will

[2015-08-12 03:16] twelch commented on #27
Simple unit test created to ensure proper values are pulled and any regressions are caught early, more to come, should be reviewed this week - https://github.com/Ecotrust/wc-data-registry/pull/144

[2015-08-31 15:48] cybersea commented on #46
Created a repo with just files that have been changed in Geoportal since the original install.   See the READ Me for description and expected workflow.

https://github.com/WCGA/wcodp_config

I tested this out with some updates to one of the profile configuration files.  I'm happy to walk through this when folks have time.

[2015-09-21 06:26] twelch commented on #17
Ready for review. Default set to 10 and paging/dropdown now on bottom of the page as well. See pull request - https://github.com/Ecotrust/wc-data-registry/pull/147

[2015-09-21 22:08] twelch commented on #49
@tchaddad or @fishytodd what is an example of a record with the described behavior of both an OPEN and other link with the same URL?  Please provide URL, thanks.

[2015-09-22 04:13] twelch commented on #12
I made some initial improvements using font-size and spacing.  Ready for review. https://github.com/twelch/wc-data-registry/commit/caa13c8c4f64d0db1db05112bda8090d8b884198

[2015-09-22 17:14] fishytodd commented on #49
I believe that the goal of this issue ticket is to provide a link type that
would recognize websites that are included in the metadata record for
things like data download webpages, or organizational websites.

There seemed to be too much variation to do this correctly without also
triggering things like service URLs.

Here is one where Open is currently being applied -
http://portal.westcoastocea

[2015-09-23 23:29] #27 closed, assigned to twelch

[2015-09-24 18:48] #47 closed, assigned to fishytodd

[2015-09-24 18:48] #46 closed, assigned to cybersea

[2015-09-24 18:49] #36 closed, assigned to twelch

[2015-09-24 18:49] #17 closed, assigned to twelch

[2015-09-24 18:50] #13 closed, assigned to nobody

[2015-09-24 18:50] #12 closed, assigned to twelch

[2015-09-24 18:51] #7 closed, assigned to tchaddad

[2015-09-30 20:39] #48 closed, assigned to nobody

[2015-10-21 18:28] tchaddad opened #52 "Double check if more than one service link type can be detected from FGDC records"
This is a placeholder for further investigation that cropped up on a call today with USGS. An example would be these records from USGS which have both ESRI REST and WMS links:

http://portal.westcoastoceans.org/discover/#?s=US%20Geological%20Survey&f=OGC%20WMS&text=bodega

It seems our UI on the left (from Solr detection) is picking up the link types just fine, while on the right, only the ESRI RE

[2015-11-02 19:55] fishytodd opened #53 "Add .aspx to list of linkages"
Possible to add this to list of link detection logic, likely to lump in with zips. Example record

http://portal.westcoastoceans.org/geoportal/rest/document?id={50EA5312-D343-40D5-9950-6CCD835DB067}

[2016-03-18 16:40] fishytodd opened #54 "Production SOLR issues"
Portal.westcoastoceans.org/SOLR logging shows several warnings:

null:ClientAbortException: java.net.SocketException: Broken pipe

null:java.lang.NumberFormatException: multiple points

org.apache.solr.common.SolrException: org.apache.solr.search.SyntaxError: Cannot parse

![image](https://cloud.githubusercontent.com/assets/5833896/13884869/28e64828-eced-11e5-9aac-99160e8ed5e2.png)

Might be relat

[2016-03-18 16:43] fishytodd opened #55 "Production portal periodically shows 0 records"
Possibly related to SOLR issues described in Issue 54 https://github.com/WCGA/West-Coast-Ocean-Data-Portal/issues/54

Every 2 weeks or so, Portal UI shows 0 records. Restarting tomcat and ubuntu servers usually resolves issue for 2 weeks.

[2016-03-18 16:51] fishytodd opened #56 "Development Server SOLR issues"
Similar issues to #54 development (207.141.116.172/SOLR) gives several severe warnings. Problem seems to be preventing from Dev SOLR index from being rebuilt, which also prevents ability to test viewing of harvested records in dev UI.

SolrIndexWriter was not closed prior to finalize(),​ indicates a bug -- POSSIBLE RESOURCE LEAK!!!

Error closing IndexWriter,​ trying rollback

org.apache.lucene.st

[2016-05-20 18:17] tchaddad opened #57 "Toggling available formats will eventually bork"
Interesting UI bug reported by Alan Allwardt of USGS.

Steps to reproduce (must be in this order):
- go to Discover
  http://portal.westcoastoceans.org/discover/
- select source USGS
  http://portal.westcoastoceans.org/discover/#?s=US%20Geological%20Survey
- select source OGC WMS
  http://portal.westcoastoceans.org/discover/#?s=US%20Geological%20Survey&f=OGC%20WMS
- select source ESRI REST
  http:

[2016-05-20 18:24] tchaddad opened #58 "USGS Format facet weirdness"
Related to #57, Alan also noticed that if you are successful in faceting on 2 formats at once, the numbers of available records may not behave correctly

Steps to reproduce (must be in this order):
- go to Discover http://portal.westcoastoceans.org/discover/
- select source USGS http://portal.westcoastoceans.org/discover/#?s=US%20Geological%20Survey
- select source ESRI REST http://portal.westcoas

[2016-05-20 18:35] tchaddad commented on #58
More from Alan:

All the metadata is FGDC in this case, and all the records have both ESRI REST and OGC WMS links, so somewhere either some poor link detection is happening, or some bad math, or both.

[2016-05-20 18:42] tchaddad opened #59 "FGDC records with multiple <onlink> fields will only display first link type"
All the metadata records in #58 are FGDC format, and all the records have both ESRI REST and OGC WMS links, where ESRI REST is listed first in the metadata, and WMS is listed second.

All the records only display ESRI REST links over on the right hand display
![link_display](https://cloud.githubusercontent.com/assets/1042618/15438136/8d7a2962-1e7f-11e6-9ade-333574bbb782.png)
So links listed second

[2016-05-20 19:33] tchaddad commented on #59
More detail from Alan:

The 6 records listed in #58 happen to have

`<citation><onlink> order of ESRI REST, then OGC WMS`

and the reverse order occurs further down in the same records:

`<digtopt><networkr> order of OGC WMS followed by ESRI REST`

Need to figure out which set of links is populating the Solr counts, vs the right hand link menu...

[2016-05-20 20:04] tchaddad commented on #59
Apparently this is more detail on an earlier reported issue #52. Marking that one as duplicate and we'll use this as the main one going forward.

[2016-05-20 20:04] tchaddad commented on #52
Closing. Will continue on #59

[2016-05-20 20:04] #52 closed, assigned to nobody

[2016-06-24 18:56] cybersea opened #60 "Errors harvesting NCCOS ISO 19115-2 metadata"
Attempt to harvest two records give the following validation errors:
{466F4108-7C94-41CF-B95E-741CE5E66AE8} FAILED FAILED
`Validation Error: Identification Information - Title: is required.
Validation Error: /gmi:MI_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:title/gco:CharacterString
Validation Error: Identification Information - Dataset Publication

[2016-06-24 19:02] cybersea commented on #60
Had a phone conversation with Jaci Mize at NCCOS with several things to try:
- add XPaths for srv:SV_ServiceIdentification (in addition to gmd:MD_DataIdentification) to iso 19115-2 definition file:  WEB-INF/classes/gpt/metadata/iso/iso-19115-2-definition.xml
- customize xsdlocation to NGDC's shema:  http://www.ngdc.noaa.gov/metadata/published/xsd/schema.xsd  (see: https://github.com/Esri/geoportal

[2016-06-24 19:04] cybersea commented on #60
Some additional resources from our conversation:
https://github.com/Esri/geoportal-server/wiki/Customize%20Metadata%20Validation
https://geo-ide.noaa.gov/wiki/index.php?title=Main_Page
https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19115-1_New_Capabilities

[2016-06-24 19:06] cybersea opened #61 "Problems harvesting of NAP records from Canadian portal"
Some possible resources:

ftp://ftp.ncddc.noaa.gov/pub/Metadata/Online_ISO_Training/Intro_to_ISO/handouts/Comparison_between_NAP_and_ISO.pdf

[nap.zip](https://github.com/WCGA/West-Coast-Ocean-Data-Portal/files/332400/nap.zip)

[2016-06-24 19:30] tchaddad commented on #54
@cybersea I would guess that this Issue is closable since it references the Production server. Would you agree?

[2016-06-24 19:36] cybersea commented on #54
Ok with me.  We can re-open if needed

[2016-06-24 19:36] #54 closed, assigned to nobody

[2016-06-24 19:40] cybersea opened #62 "WFS Link type filter is too general"
A link from NOAA, NWFSC is being shown as a "WFS" type in the UI.  I believe this is because the filter for WFS is capturing their the nwfsc in their url which is:  https://www.nwfsc.noaa.gov/data/api/v1/source/trawl.catch_fact/selection.json

[2016-06-24 19:43] cybersea commented on #56
Paul Smith at SCCWRP found some permission differences between the DEV and PROD portal.

He did made the following changes:
Changed: /usr/local/apps/solr/collection1/data/index
From: wcga.wcga
To: tomcat.root

Changed: /usr/local/apps/solr/collection1/data/index/*
From: wcga.wcga
To: tomcat.tomcat

[2016-06-24 19:49] cybersea commented on #56
Still seem to be having issues with the daily automated solr reindexing.
Reloading solr from Tomcat Manager UI does not seem to do the trick (on DEV or PROD)

Am able to reindex manually using
`service tomcat6 restart`

[2016-06-27 04:22] cybersea commented on #60
The first set of validation errors were fixed with these XPath updates to the iso-19115-2-definition.xml file:   https://github.com/WCGA/wcodp_config/commit/47d1bf7bff0c7d005ea10d718bfe599510bd7989

[2016-06-27 18:45] cybersea commented on #60
The second set of validation errors (gmx:Anchor) with fixed by changing the xsdlocation in the iso-19115-2-definition.xml file:
https://github.com/WCGA/wcodp_config/commit/25fcfeee884a09d823502c3e26fbdfbf1896fad3

[2016-06-27 19:23] #60 closed, assigned to tchaddad

[2016-06-29 23:39] tchaddad commented on #61
NAP turned out not to be the problem here. Rather, we had a 19115 validation rule set too strictly, which was blocking validation from this source.

Solved here: https://github.com/WCGA/wcodp_config/commit/2a1b097bbb0671ea475b47ea54f477df9ec7cfb3

[2016-06-29 23:39] #61 closed, assigned to nobody

[2016-07-01 23:03] cybersea opened #63 "Cannot connect to Anthropecene Institute WAF"
The URL is: https://mpa.protectedseas.net/metadata

I can navigate to it in a browser, but when I try to register it in Geoportal as a WAF, I get "Unable to connect to host" error.

In a little bit of browsing of the logs, it looks like it might be an SSL/HTTPS type of error.

looked at /var/log/tomcat6/gpt.2016-07-01.log at around 1:30 PM

[2016-07-14 20:08] tchaddad opened #64 "MapQuest tiles discontinued"
need to replace with another tile source. change needs to be made on ubuntu in:

`site_raw/_includes/js/directives/Filters.js`

will also require `grunt compress` afterwards to rebuild all.js, and then testing with `jekyll serve` before committing.

[2016-07-28 21:14] tchaddad commented on #64
@cybersea this is now fixed on Dev if you want to check it out and confirm, I will put it on Prod was well.

[2016-07-28 21:25] cybersea commented on #64
Nice work.  Thanks for fixing that.

Wondering if you could put the links to the commits here so we can reference what needed to be done for the future.

Also, I noticed the changes are in the master branch.  Probably want to pull them into the dev branch as well to keep things consistent.

[2016-07-28 21:34] tchaddad commented on #64
I think the last commit is the most relevant: https://github.com/Ecotrust/wc-data-registry/commit/2fd68c4fa2400ddb8adf768bdb564973b4f57807

[2016-07-28 23:25] tchaddad commented on #64
Should be all in sync now, and changes are on Prod.

[2016-07-28 23:25] #64 closed, assigned to nobody

[2016-08-03 17:06] cybersea commented on #63
Tried again on 8/3.   Log error output:

`
Aug 03, 2016 9:48:23 AM com.esri.gpt.control.harvest.HarvestController handleTestConnection
FINE: Exception raised.
com.esri.gpt.catalog.harvest.clients.exceptions.HRConnectionException: Protocol connection exception
        at com.esri.gpt.catalog.harvest.repository.HrRecord.checkConnection(HrRecord.java:516)
        at com.esri.gpt.catalog.harvest.repos

[2016-08-03 19:08] tchaddad commented on #63
Thanks. Saw your post in the esri repo, which is likely the best place to get help on this. The telltale line seems to be:

`PKIX path validation failed: java.security.cert.CertPathValidatorException: timestamp check failed`

And I know I've had other types of connections fail when either the connecting machine or the server are not set to the correct time zone, or somehow off on their internal cl

[2016-08-03 23:49] cybersea commented on #63
Got some feedback in the Geoportal github.   passed that info along to the Anthropocene folks to investigate.
https://github.com/Esri/geoportal-server/issues/237

[2016-08-20 00:02] cybersea opened #65 "Broken ESI URLs"
See https://github.com/WCGA/Marine-Planner/issues/46

[2016-08-20 00:10] cybersea opened #66 "Broken MPA Inventory URLs"
The service URLS for for MPA Inventory are broken in the Marine Planner:

MPA Inventory - Fishing Restrictions (NMFS, 2013)   ArcRest http://egisws02.nos.noaa.gov/ArcGIS/rest/services/MPA/MPA_Inventory/MapServer/export

MPA Inventory (NOAA, 2013)  ArcRest http://egisws02.nos.noaa.gov/ArcGIS/rest/services/MPA/MPAs_nonNMFS/MapServer/export

MPAs - Fishing Regulations  ArcRest http://egisws02.nos.noa

[2016-08-22 18:49] cybersea commented on #65
Fixed URLs to point to this service location:
https://idpgis.ncep.noaa.gov/arcgis/rest/services/NOS_ESI

For these four layers;
ESI - Aggregate
ESI - Cartographic
ESI - Most sensitive
ESI - Shoreline

These are now drawing in the map, but the legends are broken or not drawing.  Also, throwing errors about scripts MIME type.  Closing this ticket.  Continue to track those issues in the Marine Planne

[2016-08-22 18:49] #65 closed, assigned to nobody

[2016-08-22 23:29] cybersea commented on #66
Changed map service source to:
https://idpgis.ncep.noaa.gov/arcgis/rest/services/NOAA

Now getting some MIME type errors.   Tickets for this issue will be in https://github.com/WCGA/Marine-Planner/issues

[2016-08-22 23:29] #66 closed, assigned to nobody

[2017-09-13 21:05] cybersea opened #67 "Move WCODP to https"
We probably need to transition the site to https.   Discuss what this would entail and the level of effort.  There are numerous reasons to do this, but embedding our site in an ESRI story map is one of them:

https://blogs.esri.com/esri/arcgis/2017/06/06/web-security-and-story-maps/

[2017-09-13 21:30] cybersea opened #68 "Search for a plural term returns zero results"
Try: http://portal.westcoastoceans.org/discover/#?text=asset
versus: http://portal.westcoastoceans.org/discover/#?text=assets
which should at least find this record: http://portal.westcoastoceans.org/discover/#?text=acidification%20asset

Or, atlas versus atlases.
http://portal.westcoastoceans.org/discover/#?text=atlas
http://portal.westcoastoceans.org/discover/#?text=atlases

However, use versus

[2018-01-17 21:30] cybersea opened #69 "Install security patch for Geoportal"
https://blogs.esri.com/esri/arcgis/2017/01/28/open-source-geoportal-server-security-patch/

Note that this requires upgrading to v.1.2.7

[2018-01-17 21:50] cybersea opened #70 "Strategy for Harvesting DCAT"
The new ESRI Open Data sites, like the one at the State of Washington, http://geo.wa.gov, can be accessed using DCAT, like so:  http://geo.wa.gov/data.json
See [ESRI Docs on Federating to CKAN](https://doc.arcgis.com/en/hub/data/federating-with-ckan.htm)

It looks like Geoportal Server v.1.2.4 can support DCAT output from the catalog, but not necessarily harvest from other catalogs.  Likely need t

[2018-01-17 21:53] cybersea commented on #70
Sent an e-mail to Marten Hogeweg asking for confirmation that v.1.2.x could be used to harvest DCAT.  Received this reply.

hi Allison,

you should be able to take their dcat file: http://geo.wa.gov/data.json
and use the new harvester (https://github.com/Esri/geoportal-server-harvester)
to achieve this.

PS: in 2016 we released geoportal server 2.x (https://github.com/Esri/geoportal-server-catalog

[2018-01-17 22:41] cybersea commented on #70
Key Question:  Can DCAT records be selectively harvested?

[2019-01-25 23:00] cybersea commented on #69
We are upgrading to v.1.2.9, so this security issue will be handled with that upgrade

[2019-01-25 23:14] cybersea commented on #70
Will be upgrading to v.1.2.9

[2019-01-25 23:16] tchaddad commented on #68
Also cable vs cables --> inconsistent results

[2019-01-25 23:19] tchaddad commented on #67
We will have to purchase a certificate, and then install.

[2019-01-25 23:31] tchaddad commented on #62
Interesting - I think this could just be a fix in the confirguration .xml

[2019-01-25 23:42] tchaddad commented on #56
May not be relevant anymore

[2019-01-25 23:42] #56 closed, assigned to nobody

[2019-01-25 23:42] tchaddad commented on #55
May not be relevant anymore

[2019-01-25 23:42] #55 closed, assigned to nobody

[2019-01-25 23:43] tchaddad commented on #53
Should show up under OPEN.

[2019-01-25 23:46] tchaddad commented on #51
Maybe just delete this from the list of records to be harvested?

It looks like an undocumented Arc Server REST service...

[2019-01-25 23:55] tchaddad commented on #49
Closing in favor of #9

[2019-01-25 23:55] #49 closed, assigned to nobody

[2019-01-26 00:01] tchaddad commented on #44
Also cross check this with #9 and #32

[2019-01-26 00:03] tchaddad commented on #43
relates to harmonizing Solr facets on the left of the UI, with the right hand links display

[2019-01-26 00:07] tchaddad commented on #40
Closing in favor of specifying that we want to know how to list more than one link of the same link type (consistently and intentionally).

[2019-01-26 00:07] #40 closed, assigned to nobody

[2019-01-26 00:09] tchaddad opened #71 "Add ability to list more than one link of the same link type"
Sometimes this happens by accident (see #40)

But we really want it to happen consistently with any links that are in the metadata.

[2019-01-26 00:10] tchaddad commented on #39
Closing in favor of the more current upgrade tickets.

[2019-01-26 00:10] #39 closed, assigned to nobody

[2019-01-26 00:24] tchaddad commented on #32
Requires parsing the entire Abstract field, and then applying link detection to the results.

Better option is to wrap your abstract in CDATA tags, so that you can then insert HTML, for example:

`<gmd:abstract>
       <gco:CharacterString><![CDATA[
Since 1993, <b>Surfrider Foundation</b> Chapters have been collecting water quality data at beaches and in coastal watersheds through the volunteer-ru

[2019-01-26 00:30] tchaddad commented on #32
Closing in favor of prioritizing the other work on OPEN. Will link to those tickets as a reminder though...

[2019-01-26 00:30] #32 closed, assigned to nobody

[2019-01-26 00:35] tchaddad commented on #30
Lets try to find another Dublin Core record where this is a problem. Lowering priority for now.

[2019-01-26 00:36] tchaddad commented on #15
Still desirable, and at least the BBOX version should be doable.

[2019-01-26 00:46] tchaddad commented on #6
This is already possible with the CSW endpoint:

http://portal.westcoastoceans.org/geoportal//csw?service=CSW&version=2.0.2&request=GetRecords

You can add different options to the end of this URL to get the records back in a number of different formats.

[2019-01-26 00:46] #6 closed, assigned to nobody

[2019-01-26 00:59] tchaddad commented on #4
Needs further discussion about the exact behavior we want

[2019-01-26 01:02] tchaddad commented on #3
Working on it...

[2019-01-26 01:08] tchaddad opened #72 "Can we add a Content Management System?"
Ryan mentioned Wagtail is used in the MARCO portal:
https://wagtail.io/

We'd like to be able to add the ability for maintainers to add and update stories.

This wasn't offered as an option first time around but would be a very nice improvement

[2019-01-26 01:12] tchaddad opened #73 "Add the ability to display stories"
Ryan indicated that this is how MARCO shows ocean stories:
https://github.com/MidAtlanticPortal/marco-portal2/tree/prototype/marco/portal/ocean_stories

[2019-01-26 01:20] tchaddad commented on #73
Example Ocean Stories page:
http://portal.midatlanticocean.org/ocean-stories/

[2019-03-04 23:36] rhodges commented on #15
SOLR 4.1 (installed) support for BBOX queries looks promising: https://lucene.apache.org/solr/4_1_0/solr-core/index.html (this doc describes a plugin, not sure where to find, or if included).
Modern SOLR (6.6) version supports BBOX spatial queries: https://lucene.apache.org/solr/guide/6_6/spatial-search.html

[2019-03-05 18:52] rhodges commented on #15
Here's a wiki about Spatial Search in Solr: https://wiki.apache.org/solr/SpatialSearch - the versions are less clear, but comparing this against the 6.6 doc we should see if we can successfully create a BBox query to our existing Solr instance.

[2020-01-10 22:14] #73 closed, assigned to nobody

[2020-01-10 22:14] #72 closed, assigned to nobody

[2020-01-10 22:21] tchaddad opened #74 "Check that WMS, WFS, KML, and REST links are populating"
Seem to have disappeared in the migration to the new VM

[2020-01-10 22:47] tchaddad commented on #70
DCAT harvesting works now, but selective harvesting remains an open topic.

[2020-01-10 22:47] #70 closed, assigned to cybersea

[2020-01-10 22:51] tchaddad opened #75 "Selective harvest of DCAT records is desirable"
@cybersea may have already asked esri about this...

[2020-01-10 22:52] tchaddad commented on #69
We are now upgraded.

[2020-01-10 22:52] #69 closed, assigned to cybersea

[2020-01-10 22:52] tchaddad commented on #67
Done

[2020-01-10 22:52] #67 closed, assigned to nobody

[2020-01-12 18:01] cybersea commented on #75
Yes.  Here are a few potentially relevant issues for you:
https://github.com/Esri/geoportal-server/issues/311
https://github.com/Esri/geoportal-server/issues/313
https://github.com/Esri/geoportal-server/issues/314